<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
<!--      <h1>Your results for {{ termino }} </h1> 
      <hr width="100%" align="right">
-->
      <div><h1>Resultados Academia</h1></div>
        <div class="row animated fadeIn fast" *ngIf="(buscarterm.length == 0)">
          <div class="col-md-8" style="position: static; align-content: center;">
            <div class = "alert alert-info" role="alert">
                Sorry we couldn't find any term in Academa with: {{ termino }}  :(
            </div>
          </div>
        </div>

        <div class="container texto" *ngFor="let busqterm of buscarterm">
            <h2 class="card-title">{{ busqterm.termino }}</h2>
              <p>{{busqterm.descripcion}}</p>
              <hr width="75%" align="left">
        </div>

        <div><h1>Resultados SAP</h1></div>
        <div class="row animated fadeIn fast" *ngIf="(buscartermsap.length == 0)">
          <div class="col-md-8" style="position: static; align-content: center;">
            <div class = "alert alert-info" role="alert">
                Sorry we couldn't find any term in SAP with: {{ termino }}  :(
            </div>
          </div>
        </div>
        <div class="container texto" *ngFor="let busqtermsp of buscartermsap">
<!--          <h2 class="card-title">{{ busqtermsp.termino }}</h2>
            <p>{{busqtermsp.saphana}}</p>
            <hr width="75%" align="left">
-->
            <div class="table-responsive">
              <table class="table table-dark table-striped">
                  <thead>
                      <tr>
                          <th style="width: 15%"> JDE </th>
                          <th style="width: 15%"> SAP- S/4 HANA </th>
                          <th style="width: 35%"> DESCRIPCIÓN </th>
                          <th style="width: 35%"> EJEMPLOS </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>{{ busqtermsp.jde }} </td>
                          <td>{{ busqtermsp.saphana }} </td>
                          <td>{{ busqtermsp.descripcion }} </td>
                          <td>{{ busqtermsp.ejemplo }}</td>
                      </tr>
                  </tbody>                    
              </table>
          </div>





      </div>
    </div>
</div>



<!--<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <h1>Esto se encontró para {{ termino }} </h1>
    <div class="row">        
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;" *ngFor="let busqterm1 of buscarterm">
                <div class="card-header">{{ busqterm1.termino }}</div>
                <div class="card-body">
                  <h5 class="card-title">{{ busqterm1.termino }}</h5>
                  <p class="card-text">{{busqterm1.descripcion}}</p>
                </div>
              </div>
            </div>
    </div>
   -->