<div class="jumbotron  jumbotron-fluid animated fadeIn fast">
    <div class="container texto">
        <h1>WELCOME</h1>       
        <p>This Glossary is intended to assist new collaborators attending the <strong>gA Academy</strong>,   encouraging them to use technical acronyms, concepts and business savvy lingo. The definitions represent the meanings understood and shared by the majority of the participants of this project.</p>
        <br>
        <p>We, <strong>gA</strong>, are a Latin-American Organization that operates globally; we create digital environments, innovate and transform businesses. With that always in mind,  we will have a heavy use of terms borrowed from fields of study such as IT, technology development , business improvement and methodologies . As it would be impossible to incorporate full glossaries of these sciences, only some of the more commonly-used terms are included.</p>
        <br>
        <p>The entries are fully cross-referenced. Headwords appear in bold face and words within the definition which also appear in this type style are defined elsewhere in their most common form.</p>
        <br>
        <p>Standard English spelling is used throughout, except in those cases where Spanish is more generally used.</p>
        <br>
        <p>For additional definitions of terms borrowed from other disciplines, the reader is encouraged to consult specialized dictionaries</p>
        <br>
        <p>Welcome to <strong>gA!</strong></p>
    </div>
</div>