<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1>Accounting Terms</h1>
        <hr width="100%" align="left">
            <div class="container texto" *ngFor="let acctngtm_ of acctngtermcol ">
                <h2 class="card-title">{{ acctngtm_.termino }}</h2>
                <p>{{ acctngtm_.descripcion }}</p>
                <hr width="75%" align="left">
            </div>
    </div>
</div>
    
<!--<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container texto">
            <h1>ACCOUNTING</h1>
            
            <h2><li>Accounting</li> </h2>
                <p>Registration of all our movements, transactions to make decisions in a given period</p>

            <h2><li>Administrative Accounting</li> </h2>
                <p>How to organize the company, internal reports.</p>

            <h2><li>Financial Accounting </li> </h2>
                <p>International standards by which the Company is governed.</p>

            <h2><li>Tax Accounting</li> </h2>
                <p>Is a structure of accounting methods focused on taxes rather than the appearance of public financial statements.</p>

            <h2><li>Account Catalog</li> </h2>
                <p>List of accounts used to register, classify and apply the operations to the corresponding activities.</p>

            <h2><li>Double Match</li> </h2>
                <p>Each operation is recorded twice, once in it must and once in the credit, in order to establish a connection between the various assets.</p>
            
            <h2><li>Policy</li> </h2>
                <p>Each operation is recorded twice, once in it must and once in the credit, in order to establish a connection between the various assets.</p>

            <h2><li>Income Policy.</li> </h2>
                <p>In economics are economy-wide wage and price controls, most commonly instituted as a response to inflation, and usually seeking to establish wages and prices below free market level.</p>

            <h2><li>Exit Policy</li> </h2>
                <p>Is a means of leaving one's current situation, either after a predetermined objective has been achieved, justifying premises or decision makers for any given operational planning changed substantially, or as a strategy to mitigate imminent or possible failure.</p>
    
            <h2><li>Diary Policy</li> </h2>
                <p>Accounting document that allows us to register operations that do not involve cash movements such as recording expenses not yet paid (on credit), expenses paid by the owners or shareholders, depreciation and amortization.</p>
    </div>
</div>
-->

