<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1>Comparison Between JDE and S/4 HANA concepts</h1>
        <hr width="100%" align="left">
            <div class="container" *ngFor="let sapa of sap" >
<!--                <h2 class="card-title">{{ sapa.jde }}</h2>
                <p>{{sapa.saphana}}</p>
                <p>{{sapa.descripcion}}</p>
                <p>{{sapa.ejemplo}}</p>
-->
                <div class="table-responsive">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th style="width: 15%"> JDE </th>
                            <th style="width: 15%"> SAP- S/4 HANA </th>
                            <th style="width: 35%"> DESCRIPCIÓN </th>
                            <th style="width: 35%"> EJEMPLOS </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ sapa.jde }} </td>
                            <td>{{ sapa.saphana }} </td>
                            <td>{{ sapa.descripcion }} </td>
                            <td>{{ sapa.ejemplo }}</td>
                        </tr>
                    </tbody>                    
                </table>
            </div>
<!--                <hr width="75%" align="left"> -->
            </div>
    </div>
</div>