/*h1{
margin-bottom: 20px;
text-align: justify;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 25px;
font-weight: bold;
color: darkgrey;
}

h2{
text-align: justify;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 15px;
font-weight: bold;
color: black;
}

.ams{
    text-align: justify;
}*/