<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1>AMS Terms</h1>
        <hr width="100%" align="left">
        <div class="container texto" *ngFor="let amsglos of amsglos">
                <h2 class="card-title">{{ amsglos.termino }}</h2>
                <p>{{amsglos.descripcion}}</p>
                <hr width="75%" align="left">
        </div>  
    </div>

<!--    <div class="container texto">
        <h1>AMS</h1>
            <h2><li>AMS Aplication Management Service</li> </h2>
                <p>It is a form of managing enterprise IT software applications and software-based services.</p>
            
            <h2><li>dBT Digital Business Transformation</li> </h2>
                <p>Digital transformation is the profound transformation of business and organizational activities, processes, competencies and models to fully leverage the changes and opportunities of a mix of digital technologies and their accelerating impact across society in a strategic and prioritized way.</p>
            
            <h2><li>PMBOK Project Management Body Of Knowledge</li> </h2>
                <p>PMBOK stands for Project Management Body of Knowledge and it is the entire collection of processes, best practices, terminologies, and guidelines that are accepted as standards within the project management industry.</p>
            
            <h2><li>BPT Business Process Transformation</li> </h2>
                <p>Business process transformation involves an examination of the steps required to achieve a specific goal in an effort to remove duplicate or unnecessary step.s and automate.</p>
            
            <h2><li>VMO Value Management Office</li> </h2>
                <p>Is an internal unit within an enterprise that is charged with evaluating third-party providers of goods and services, supervising day-to-day interactions.</p>
            
            <h2><li>PMO Proyect Manager Office</li> </h2>
                <p>Group or department within a business, agency or enterprise that defines and maintains standards for project management within the organization.</p>
</div>
-->
</div>
