<!--<div class="jumbotron jumbotron-fluid animated fadeIn fast">
      <div class="container-fluid encabezado">
        <h1 class="titulo"> gA academy 2019 </h1>
        <hr width = "50%" align = "center" noshade="20" size="15"> 
          <h2 class="subtitulo">Glossary</h2>
      </div>
      <div class="container-fluid barranav">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="col-sm-4">
                  <a class="navbar-brand" href="#">   gA Glossary   </a>
                </div>
                <div class="col-sm-8">
                    <div class="md-form mt-0">
                      <div class = "row justify-content-right">
                          <input class="col mr-sm-5 ml-sm-5" type="text" placeholder="Your word please" (keyup.enter) = "buscarTermino(buscarTerm.value)" #buscarTerm>               
                          <button class="btn btn-outline-light my-2 my-sm-0" (click) = "buscarTermino(buscarTerm.value)"  type="button">
                          Go and serch 
                          </button>
                      </div>
                    </div>
                  </div>
              </nav>
      </div>
</div>-->

<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container-fluid encabezado">
        <h1 class="titulo"> gA Glossary </h1>
        <hr class="division"> 
<!--        <h2 class="subtitulo">gA Academy</h2>-->
    </div>
    <div class="container-fluid barranav">
          <nav class="navbar navbar-expand-lg navbar-dark">
               <div class="col-sm-8 text-left">
                  <div class="md-form mt-0">
                    <div class = "row">
                        <input class="col-sm-4 mr-sm-4 ml-sm-1" type="text" placeholder="Your word please" (keyup.enter) = "buscarTermino(buscarTerm.value)" #buscarTerm>               
                        <button class="btn btn-outline-light my-2 my-sm-0" (click) = "buscarTermino(buscarTerm.value)"  type="button">
                        Go and serch 
                        </button>
                    </div>
                  </div>
              </div>
              <div class="col-sm-4 text-right">
                <a class="navbar-brand" href="#">   Start   </a>
              </div>
          </nav>
      </div>
</div>