
<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1>Navigate Terms</h1>
        <hr width="100%" align="left">
            <div class="container texto" *ngFor="let navgter_ of navgtermp ">
                <h2 class="card-title">{{ navgter_.termino  }}</h2>
                <p>{{ navgter_.descripcion }}</p>
                <hr width="75%" align="left">
            </div>
    </div>
</div>
<!--
    <div class="jumbotron jumbotron-fluid animated fadeIn fast">
        <div class="container text">
            <h1>NAVIGATE</h1>
                    <h2><li>Big Data IT Concept</li></h2>
                    <p>Big data is an evolving term that describes a large volume of structured, semi-structured and unstructured data that has the potential to be mined for information and used in machine learning projects and other advanced analytics applications.</p>
                    <p>Big data is an evolving term t   hat describes a large volume of structured, semi-structured and unstructured data that has the potential to be mined for information and used in machine learning projects and other advanced analytics applications.</p>
                    <p>It can be used in product design, simulation, monitoring, optimization and servicing and is an important concept in the industrial Internet of Things.</p>
    
                    <h2><li>IoT Internet of things</li></h2>
                    <p>The internet of things, or IoT, is a system of interrelated computing devices, mechanical and digital machines, objects, animals or people that are provided with unique identifiers ( UIDs ) and the ability to transfer data over a network without requiring human-to-human or human-to-computer interaction.</p>
    
                    <h2><li>VR Virtual reality</li></h2>
                    <p>Artificial environment that is created with software and presented to the user in such a way that the user suspends belief and accepts it as a real environment.</p>
    
                    <h2><li>Data Science</li></h2>
                    <p>Is the study of where information comes from, what it represents and how it can be turned into a valuable resource in the creation of business and IT strategies.</p>
    
                    <h2><li>Data Mining</li></h2>
                    <p>Data mining is the process of sorting through large data sets to identify patterns and establish relationships to solve problems through data analysis. Data mining tools allow enterprises to predict future trends.</p>
    
                    <h2><li>Business KPI</li></h2>
                    <p>Is a measurable value that demonstrates how effectively a company is achieving key business objectives. </p>
    
                    <h2><li>Data Lake Data Storage</li></h2>
                    <p>A data lake is a storage repository that holds a vast amount of raw data in its native format until it is needed.</p>
    
                    <h2><li>Knowledge Warehouse Data Repositoy</li></h2>
                    <p>A knowledge warehouse is the component of an enterprise's knowledge management system where knowledge is developed, stored, organized, processed, and disseminated. (A knowledge warehouse can also be called a data repository.)</p>
    
                    <h2><li>Business KPI</li></h2>
                    <p>Is a measurable value that demonstrates how effectively a company is achieving key business objectives. </p>
    
                    <h2><li>BM Business Model</li></h2>
                    <p>A business model is the conceptual structure supporting the viability of a business, including its purpose, its goals and its ongoing plans for achieving them.</p>
                    
                    <h2><li>Data Lake Data Storage</li></h2>
                    <p>A data lake is a storage repository that holds a vast amount of raw data in its native format until it is needed.</p>
    
                    <h2><li>Knowledge Warehouse Data Repositoy</li></h2>
                    <p>A knowledge warehouse is the component of an enterprise's knowledge management system where knowledge is developed, stored, organized, processed, and disseminated. (A knowledge warehouse can also be called a data repository.)</p>
    
                    <h2><li>Opex Operational expenditures</li></h2>
                    <p>It is the money a company spends on an ongoing, day-to-day basis in order to run a business or system.</p>
                    <h2><li>Capex Capital Expenditure</li></h2>
                    <p>Is money invested by a company to acquire or upgrade fixed, physical, non-consumable assets, such as a building, a computer or a new business. Generally, there are two types of capital expenses: purchases made to maintain existing levels of operation within a company and purchases intended to foster future growth</p>
                    
                    <h2><li>DSO Data Source Object </li></h2>
                    <p>A data source object (DSO) is a Microsoft ActiveX object embedded within a Web page. It employs a process called data binding, in which an ActiveX control communicates directly with another Web page, or with an external XML data source</p>
                    
                    <h2><li>Cloud Services IT Category</li></h2>
                    <p>Used to describe professional services that support the selection, deployment and ongoing management of various cloud-based resources.</p>
                    
                    <h2><li>Private Cloud Internal Cloud or Corporate Cloud</li></h2>
                    <p>Private cloud is a type of cloud computing that delivers similar advantages to public cloud, including scalability and self-service, but through a proprietary architecture. Unlike public clouds, which deliver services to multiple organizations, a private cloud is dedicated to the needs and goals of a single organization.</p>
    
                    <h2><li>Bottleneck IT Business Term</li></h2>
                    <p>This is a point in the enterprise where the flow of data is impaired or stopped entirely. Effectively, there isn't enough data handling capacity to handle the current volume of traffic.</p>
    
                    <h2><li>Supply Chains</li></h2>
                    <p>This is the part of the supply chain dedicated to providing service on products. It addresses the supply of parts, materials, personnel and services needed to provide timely and Effective product service, such as repair and maintenance.</p>
    
                    <h2><li>Forecasting Models </li></h2>
                    <p>Process that uses data mining and probability to forecast outcomes. Each model is made up of a number of predictors, which are variables that are likely to influence future results.</p>
    
                    <h2><li>Predictive Analytics</li></h2>
                    <p>Uses both new and historical data to forecast activity, behavior and trends. It involves applying statistical analysis techniques, analytical queries and automated machine learning algorithms to data sets to create predictive models that place a numerical value -- or score -- on the likelihood of a particular event happening.</p>
    
                    <h2><li>DCED platform</li></h2>
                    <p>Software that is used to create and manage structured content. The goal of a DCED platform is to support omnichannel marketing efforts and provide marketers with the ability to view marketing, sales and service metrics from a single pane of glass.</p>
    
                    <h2><li>Performance</li></h2>
                    <p>Framework to measure how we are performing along the way</p>
    
                    <h2><li>Value</li></h2>
                    <p>The decision-making process ends up creating incremental value to the shareholders.</p>
        </div>
    </div>
    -->