<div class="jumbotron jumbotron-fluid animated fadeIn fast">
        <div class="container">
            <h1>General Ledger Terms</h1>
            <hr width="100%" align="left">
                <div class="container texto" *ngFor="let genledterm_ of genlegertermExt">
                    <h2 class="card-title">{{ genledterm_.termino }}</h2>
                    <p>{{ genledterm_.descripcion }}</p>
                    <hr width="75%" align="left">
                </div>
        </div>
</div>

<!--
<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container texto">
        <h1>GENERAL LEDGER</h1>
            <h2>GL General Ledger</h2>
                <p>Represents the record-keeping system for a company's financial data with debit and credit account records validated by a trial balance.</p>
            
            <h2> <li> AIA Application Integration Architecture</li></h2>
                <p>Is an IT process that ensures data or a function moves from one application to another.</p>

            <h2><li>BI Bussines Intelligent</li></h2>
                <p>It is an umbrella term that includes the applications, infrastructure and tools, and best practices that enable access to and analysis of information to improve and optimize decisions and performance.</p>

            <h2><li>IV  Interactive Version</li></h2>
                <p>Allowing a two-way flow of information between a computer version and a computer-user.</p>

            <h2><li>MXN  Mexican Peso</li></h2>
                <p>Is the unit of money used in Mexico.</p>

            <h2><li>USD US Dollar</li></h2>
                <p>Is the unit of money used in the USA.</p>

            <h2><li>AP Account Payable</li></h2>
                <p>Is a liability due to a particular creditor when it order goods or services without paying in cash up front, which means that you bought goods on credit.</p>

            <h2><li>AR Account Receivable</li></h2>
                <p>Money owed to a company by its debtors.</p>

            <h2><li>BU Business Unit</li></h2>
                <p>A logical element or segment of a company (such as accounting, production, marketing) representing a specific business function, and a definite place on the organizational chart, under the domain of a manager.</p>

            <h2><li>Apllication Suite</li></h2>
                <p>A suite is a set of usually related programs sold together in a single package.</p>
            
            <h2><li>HCM Human Capital Management</li></h2>
                <p>Human capital management (HCM) is the comprehensive set of practices for recruiting, managing, developing and optimizing the human resources of an organization.</p>

            <h2><li>CX Consumer experience</li></h2>
                <p>Consumer experience (CX) is the approach of emulating, in the business world, how individuals interact with technology in their personal lives.</p>

            <h2><li>LOB Line of Business</li></h2>
                <p>An LOB (line-of-business) application is one of the set of critical computer applications that are vital to running an enterprise, such as accounting, supply chain management, and resource planning applications.</p>

            <h2><li>SFA Sales Force Automation</li></h2>
                <p>Sales automation tools can be used to create contacts, aggregate data, mine data, prioritize leads and create reports.</p>
        </div>
</div>
-->