<!--<div class="jumbotron jumbotron-fluid animated fadeIn fast">
        <div class="container-fluid">
        <div class="row align-items-start justify-content-center">
                <div class="col-3 col-sm-3 fondo_indice">
                    <div class="container colgante">
                        <app-indice></app-indice>
                    </div>
                </div>
                <div class="col-9 col-sm-9 fondo_desc">
                    <div class="container colgante">
                        <router-outlet></router-outlet>
                    </div>
                </div>
        </div>
        (</div>)
</div>-->


<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container colgante">
            <div class="row">
                    <div class="col-3 col-sm-3 fondo_indice">
                        <app-indice></app-indice>
                    </div>
                    <div class="col-9 col-sm-9 fondo_desc">
                        <router-outlet></router-outlet>
                    </div>
            </div>
    </div>
</div>