
<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1>ITIL Terms</h1>
        <hr width="100%" align="left">
            <div class="container texto" *ngFor="let itil of itil">
                <h2 class="card-title">{{ itil.termino }}</h2>
                <p>{{itil.descripcion}}</p>
                <hr width="75%" align="left">
            </div>
    </div>
</div>



<!--
<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container texto">
    <h1>ITIL</h1>
        <h2><li>ITIL Information Technologies Infrastructure Library</li> </h2>
            <p>It’s a framework designed to standardize the selection, planning, delivery and maintenance of IT services within a business.</p>
    
        <h2><li>PMI Project Manager Institute</li> </h2>
            <p>It is the largest project management membership group in the World.</p>
    
        <h2><li>SLA Service Level Agreement</li> </h2>
            <p>A service-level agreement (SLA) is a contract that specifies what the service provider is responsible for.</p>
    
        <h2><li>GxP Good Practice</li> </h2>
            <p>A set of guidelines for manufacturers and other automation users follow to maintain operational efficiency and reliability.</p>
    
        <h2><li>PMI Project Manager Institute</li> </h2>
            <p>It is the largest project management membership group in the World.</p>
    </div>
</div>
-->





